{{!-- <header class="center">
    <h1>The Grapevine</h1>
    <h3>Tell them you heard it here!</h3>
</header>
<div class="center" id="grapes">
    <img src="/assets/img/kisspng-grape-vine-wine.png">
</div>

</div> --}}

<div class="jumbotron jumbotron-fluid">      
  <div class="container center">           
    <h1 class="display-4">The Grapevine</h1>
    <p class="lead">Tell them you heard it here!</p>
  </div>
</div>
<div id="grapes">
    <img id="grapes-left" src="/assets/img/kisspng-grape-vine-wine.png">
    <img id="grapes-right" src="/assets/img/kisspng-grape-vine-wine.png">
</div> 
<div class="content mx-5">
    <h2 class="center underline mb-2 display-4" id="subhead">Current Articles</h2>
    <div class="center" id="articles">
        {{#each articles}}
            <div data-id={{this._id}} class="mb-3">
                {{!-- There is no summary so I'm including the Source Name --}}
                <p class="mb-0">{{this.title}} <br/> <small>From {{this.srcName}}</small></p>
                <p class="mb-0"><a href="#comments" data-toggle="modal" data-target="#comments" data-id="{{this._id}}" id="leaveNote">Click here to leave or read a comment</a></p>
                <a href="{{this.link}}" alt="link to article" target="_blank"><i class="fas fa-external-link-alt"></i> Read the article</a> 
            </div>
        {{/each}}
    </div>

    <div class="modal" id="comments" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="yourComment"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveBtn" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>